.container{
  border : 0.2px solid black;
  padding : 10px;
  display: flex;
  flex-direction: column;
  margin: 5px;
}

label{
  font-weight: bold;
}

/* button{
  margin-top: 10px;
  border-radius: 10px;
  border: none;
  height: 30px;
  background-color: rgb(208, 208, 255);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  box-shadow: 0.3px 1px 4px 0.5px grey;
} */

input{
  height: 20px;
}